<!DOCTYPE html>
<html>
    <head>
        <title>circles/view manual test</title>
        <link rel="stylesheet" type="text/css" href="/assets/lib.css">
        <script src="/assets/lib.en_US.js"></script>
    </head>
    <body>
        <pre class="circle-container">(If this text persists, loading failed.)</pre>
        <script>
            var container = document.querySelector(".circle-container");

            var did = require("did")("http://localhost:3001");
            did.api.asUser("nix", "2661ac5c990c06d41eed827aefb5fd32f9e335cfe40a137d21b401df20d83877a68772e5781b89b2add9c84562f357d53f14513087eea3f61aa33ad2c0a9ad7f");
            var circleId = getParameterByName("id");
            did.api.circles.get(circleId, (error, data) => {
                if(error) {
                    container.innerText = error.toString();
                    return console.error("Failed to load circle", error);
                }
                container.innerText = JSON.stringify(data, null, 4);
            });

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
        </script>
    </body>
</html>
