.did-form, .did-view {
    display: flex;
    font-family: sans-serif;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.did-form .did-form-row, .did-view-row {
    display: block;
    flex-basis: 300px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 10px;
}
.did-view-row-double {
    flex-basis: 600px;
}
.did-form label, .did-view-label {
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
}
.did-view-label {
    font-size: 0.75em;
    margin-bottom: 1.2em;
}
.did-view-value {
    font-size: 1.3em;
}
.did-form button {
    display: block;
    flex-basis: 100%;
    font-size: 1.15em;
    padding: 1em;
    margin: 10px;
    box-sizing: border-box;
}
.did-form input, .did-form textarea, .did-form select {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.did-form label {
    font-size: 0.85em;
}
.did-invite-member {
    font-size: 0.9em;
    margin-bottom: 0.2em;
}
.did-uninvite-member-button {
    float: left;
    cursor: pointer;
    font-size: 1.1em;
    margin-right: 0.15em;
}
.did-uninvite-member-button:after {
    content: '×';
}
.did-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255,255,255,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s;
}
.did-overlay-message {
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 1.2em;
    height: 0;
    overflow: visible;
}
.did-edit-link {
    position: absolute;
    top: 0;
    right: 0;
}
.did-procedures-container {
    height: 60px;
    box-shadow: 0 -6px 5px rgb(255,255,255) inset;
    overflow: hidden;
}
.did-show-procedures-link, .did-hide-procedures-link {
    float: right;
}
